fastapi==0.115.6
uvicorn[standard]==0.34.0
SQLAlchemy==2.0.36
asyncpg==0.30.0
psycopg[binary]==3.2.3
alembic==1.14.0
pydantic==2.10.4
pydantic-settings==2.7.0
httpx==0.28.1
aiogram==3.16.0
python-multipart==0.0.20
redis==5.2.1
orjson==3.10.13
